<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatre</title>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/public/css/chat.css" />
  </head>

  <body>
    <%- include('../partials/nav'); -%>
    <main>
     
      <div>
        <h1><%= groupName %></h1>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            id="viewMembersCollapseButton"
            data-toggle="collapse"
            data-target="#viewMembersCollapse"
            aria-expanded="false"
            aria-controls="viewMembersCollapse"
          >
            Members
          </button>
        </p>

        <% if (rank==='admin' ) /* ADMIN */ { %>
          <p>
            <button
              class="btn btn-primary"
              type="button"
              id="addMemberCollapseButton"
              data-toggle="collapse"
              data-target="#addMemberCollapse"
              aria-expanded="false"
              aria-controls="addMemberCollapse"
            >
              Add Member
            </button>
          </p>

        <% } %> 

        <div class="collapse" id="viewMembersCollapse">
          <div class="card card-body">
            <ul id="members">
              <!-- List of members goes here -->
            </ul>
          </div>
        </div>

        <% if (rank==='admin' ) /* ADMIN */ { %>
        <div class="collapse" id="addMemberCollapse">
          <div class="card card-body">

            <form class="form-inline" id="addMemberForm">
              <div class="form-group mx-sm-3 mb-2">
                <label for="userEmail" class="sr-only">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="userEmail"
                  placeholder="john.doe@example.com"
                  aria-describedby="addMemberEmail"
                />
                <small id="addMemberEmail" class="form-text text-muted">Note: This email must already be the email of a chatre user for you to invite them</small>
                <br>
                <input type="submit" class="btn btn-primary" value="Add Member">
              </div>
            </form>
          </div>
          </div>
          
        <% } %>

        

      </div>

        <div id="messages">
          <!-- messages go here -->
        </div>
      </div>
    </main>

    <form id="chat-bar" autocomplete="off">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Message Content"
          aria-label="Message Text"
          aria-describedby="sendMSG_BTN"
          id="msgText"
        />
        <input
          class="btn btn-outline-secondary"
          type="submit"
          value="Send Message"
          id="sendMSG_BTN"
        />
      </div>
    </form>
    
    <script>
      const groupName = "<%= groupName %>";
      const rank = "<%= rank %>";
      const time = "<%= time %>";
    </script>
    <script defer src="/public/js/chat.js"></script>
  </body>
</html>
